@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Madimi One";
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url("/fonts/MadimiOne.woff");
	}
}

body {
	line-height: 1.2;
	font-size: 1rem;
	background-color: #283959;
	color: white;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
	cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

main {
	padding-block: 1rem;
}

.container {
	width: min(calc(100% - 2rem), 71.25rem);
	margin-inline: auto;
}

@layer base {
	.loading {
		@apply absolute inset-0 -top-80 m-auto inline-block h-16 w-16 after:m-1.5 after:block after:h-11 after:w-11 after:animate-[loading_1.2s_linear_infinite] after:rounded-[50%] after:border-4 after:border-transparent after:border-b-white after:border-r-transparent after:border-t-white;
	}

	.btn {
		@apply relative bg-lightPeach px-6 py-2 text-xl duration-150 *:block before:absolute before:-left-1 before:-top-1 before:-z-10 before:h-full before:w-full before:bg-secondary before:duration-150 after:absolute after:left-1 after:top-1 after:-z-10 after:h-full after:w-full after:bg-purple after:duration-150 hover:*:scale-105 hover:before:left-0 hover:before:top-0 hover:after:left-0 hover:after:top-0 active:scale-105;
	}

	.input {
		@apply w-full max-w-64 border-b-primary border-t-transparent p-3 py-2 text-xl text-primary outline-none duration-150;
	}
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@layer base {
	.showFav {
		@apply animate-[showFav_0.5s];
	}
	.hideFav {
		@apply animate-[showFav_0.5s_reverse];
	}
}

@keyframes showFav {
	from {
		translate: 100% 0;
	}

	to {
		translate: 0 0;
	}
}
